.header_filter::after{
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  height: 100%;
  width: 1px;
  background-color: #DCDFE3;
}
:root {
  --body-color: #010c15;
  --text-color: #7e8294;
  --hover-color: #ebd9ff;
  --accent-color: #cc0404;
  --underline-thickness: 3px;

  color-scheme: dark;
}

nav {
  text-transform: uppercase;
  font: bold 1.1rem sans-serif;
}

nav a {
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s borderColor;
  position: relative;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
}

nav a.active{
  color: var(--accent-color);
  border-bottom: 3px solid var(--accent-color);
}


nav a:hover {
  color: var(--hover-color);
  border-bottom: 3px solid var(--accent-color);
}




